#nav {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    background-color:  #01062E;
}
#nav > img {
    height: 5vh;
}
.pure-menu-item > .pure-menu-link{
    color: white !important;
}
.pure-menu-link:before{
            content: "";
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: 5px;
            height: 2px;
            width: 100%;
            background: white;
            transform: scale(0);
            transition: all 0.3s;
}
.pure-menu-link:hover:before{
            transform: scale(1);
}

.pure-menu-link:hover {
    color: #99ABB9 !important;
    background-color:  #01062E !important;
}
.pure-menu-item::active {
    color: #99ABB9 !important;
    background-color:  #01062E !important;
}
.pure-g {
    height: 95vh !important;
}
.pure-u-1-2 {
    height: 47.5vh !important;
    position: relative;
    overflow: hidden;
}
.circle {
    z-index: 2;
    width: 120px;
    height: 120px;
    position: absolute;
}
.circle > a {
    text-decoration: none;
    color: white;
}
.pureimg {
    height: 100% !important;
    width: 100%
}

#red-circle{
    bottom: -60px;
    right: -60px;
    border-radius: 50%;
    background-color: black;
    border: solid 2px white;
}
#red-circle > a {
    position: absolute;
    right: 70px;
    bottom: 70px;
}
#blue-circle{
    bottom: -60px;
    left: -60px;
    border-radius: 50%;
    background-color: #A8A5B8;
}
#blue-circle > a {
    position: absolute;
    left: 70px;
    bottom: 70px;
}
#yellow-circle{
    top: -60px;
    right: -60px;
    border-radius: 50%;
    background-color: #A8A5B8;
}
#yellow-circle > a {
    position: absolute;
    right: 70px;
    top: 70px;
}
#green-circle{
    top: -60px;
    left: -60px;
    border-radius: 50%;
    background-color: black;
    border: solid 2px white;
}
#green-circle > a {
    position: absolute;
    left: 70px;
    top: 70px;
}